<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% dishes.forEach(dish => { %>
        
        <h1><%= dish.name %> </h1>
        <h2><%= dish.foodDescription %> </h2>
        <h3><%= dish.price %> </h3>
        <img height='200px' src="<%=dish.imageURL%>" alt="">
    <% }) %>
</body>
</html>