<<<<<<< HEAD
.parent{
    width: 900px;
    height: 300px;
    background-color: pink;
}

.child{
    width: 100px;
    height: 300px;
    background-color: yellow;
    /* float: left; */
}

.child2{
    width: 100px;
    height: 300px;
    background-color: orange;
    /* float: left; */
}
=======

.parent{
    width: 900px;
    background-color: pink;
    /* height: 300px; */
}

.child1{
    width:100px;
    background-color: yellow;
    float: left;
    height: 100px;
    margin-right:10px;

}
.child2{
    width:300px;
    background-color: orange;
    float: right;
    height: 300px;

}

>>>>>>> eae1e9e0e50319894e256f33b5fdbfd42ab4454b
