* {
    box-sizing: border-box;
}
.container {
    
    width: 80vw;
    height: 90vh;
    display: flex;
    background-color: tan;
    margin-left: auto;
    margin-right: auto;

}

.flexContainerColumn{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.flexContainerRow{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;

}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.flex8 {
    flex: 8;
}

.flex9 {
    flex: 9;
}
.black {
    background-color: black;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.purple {
    background-color: purple;
}

.fia {
    background-color: fuchsia;
}
.border {
    border: 3px rgb(31, 30, 30) solid;
    /* border-left: 3px black solid;
    border-top: 3px black solid; */
}

.nbl {
    border-left: 0
}

.nbr {
    border-right: 0
}